.details-container {
    max-width: 720px;
    margin: 40px auto;
    padding: 0.5rem;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
  }
  
  .detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
   
  }
  
  .detail-label {
    font-weight: bold;
    margin-right:0.5rem;
  }
  
  .detail-value {
    flex-grow: 1;
    margin-right: 0.4rem;
    font-size: 18px;
    /* color: aliceblue; */
    font-weight: 400;
  }
  
  .detail-list{
    list-style-type: none;
  }
 