

.main-Container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;

 gap: 30px;
 align-items: center;
    justify-content: center;
}
.lebel1{
    font-size: 20px;
    font-weight: bold;
}
#emailid{
 border-radius: 8px;
 padding: 5px;
}
.btnSend{
    padding: 5px;
    background-color: blue;
    border-radius: 5px;
    border-color: blue;
    cursor: pointer;
    width: 100px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}
